// colors
$color-white: #ffffff;
$color-black: #1e1e1e;
$color-gray: #858585;
$color-gray--light: #e7e7e7;
$color-gray--dark: #3c3c3c;
$color-purple: #8345da;
$color-purple--light: #a674ef;
$color-purple--dark: #7121e3;
$color-green: #0cd4c3;
$color-green--light: #73fff3;
$color-green--dark: #00978b;

$color-primary: $color-purple;
$color-primary--light: $color-purple--light;
$color-primary--dark: $color-purple--dark;
$color-secondary: $color-green;
$color-secondary--light: $color-green--light;
$color-secondary--dark: $color-green--dark;