// colors
$color-white: #ffffff;
$color-black: #1e1e1e;
$color-gray: #858585;
$color-gray--light: #e7e7e7;
$color-gray--dark: #3c3c3c;
$color-purple: #8345da;
$color-purple--light: #a674ef;
$color-purple--dark: #7121e3;
$color-green: #0cd4c3;
$color-green--light: #73fff3;
$color-green--dark: #00978b;

$color-primary: $color-purple;
$color-primary--light: $color-purple--light;
$color-primary--dark: $color-purple--dark;
$color-secondary: $color-green;
$color-secondary--light: $color-green--light;
$color-secondary--dark: $color-green--dark;

// typography
$color-font: $color-black;
$color-font--alt: $color-white;

$font-size--xxsmall: 12px;
$font-size--xsmall: 13px;
$font-size--small: 14px;
$font-size--medium: 18px;
$font-size--large: 24px;
$font-size--xlarge: 36px;
$font-size--xxlarge: 64px;
$font-size--xxxlarge: 72px;

$font-weight--lighter: 100;
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--bold: 700;
$font-weight--bolder: 900;

h1 {
  color: red;
}