// typography
$color-font: $color-black;
$color-font--alt: $color-white;

$font-size--xxsmall: 12px;
$font-size--xsmall: 13px;
$font-size--small: 14px;
$font-size--medium: 18px;
$font-size--large: 24px;
$font-size--xlarge: 36px;
$font-size--xxlarge: 64px;
$font-size--xxxlarge: 72px;

$font-weight--lighter: 100;
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--bold: 700;
$font-weight--bolder: 900;

body {
  color: $color-font;
  font-size: $font-size--medium;
  font-weight: $font-weight--normal;
}

.font-color--alt {
  color: $color-font--alt;
}

.font-size--xxxlarge {
  font-size: $font-size--xxlarge;
}

.font-size--xxlarge {
  font-size: $font-size--xxlarge;
}

h1,
.font-size--xlarge {
  font-size: $font-size--xlarge;
}

h2,
.font-size--large {
  font-size: $font-size--large;
}

h3,
p,
.font-size--medium {
  font-size: $font-size--medium;
}

h4,
.font-size--small {
  font-size: $font-size--small;
}

h5,
.font-size--xsmall {
  font-size: $font-size--xsmall;
}

h6,
.font-small--xxsmall {
  font-size: $font-size--xxsmall;
}

.font-weight--lighter {
  font-weight: $font-weight--lighter;
}

.font-weight--light {
  font-weight: $font-weight--light;
}

.font-weight--normal {
  font-weight: $font-weight--normal;
}

.font-weight--bold {
  font-weight: $font-weight--bold;
}

.font-weight--bolder {
  font-weight: $font-weight--bolder;
}